rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }

    match /accounts/{accountId} {
      allow read, write: if true;
    }

    match /matches/{matchId} {
      allow read, write: if true;
    }

    match /groups/{groupId} {
      allow read, write: if true;
    }

    match /predictions/{predictionId} {
      allow read, write: if true;
    }

    match /passwordResets/{resetId} {
      allow read, write: if true;
    }
  }
}
